<div class="profile-page">
  <h2>Your Profile</h2>
  <div class="profile-info">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{user.name}}" readonly>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{user.email}}" readonly>
    
    <label for="interests">Interests:</label>
    <input type="text" id="interests" name="interests" value="{{user.interests}}" readonly>
    
    <label for="hobbies">Hobbies:</label>
    <input type="text" id="hobbies" name="hobbies" value="{{user.hobbies}}" readonly>
    
    <button>Edit Profile</button>
  </div>
</div>
